body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  background-color: rgb(233, 233, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body-container{
  height: max-content;
  width: 360px;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  padding: 20px;
}

.input{
  height: 50px;
  font-size: 40px;
  text-align: right;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: lighter;
  margin: 10px;
  padding: 5px 10px;
}

.numbers{
  display: flex;
  float: left;
}

.operator{
  display: flex;
}

.operator div{
  background-color: #FF8C00;
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 30px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.numbers div{
  background-color: #474343;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  width: 30px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.equal{
  display: inline-block;
  /* border: 1px solid black; */
  width: 65px;
  padding: 139px 2px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #FF8C00;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.numbers div:hover{
  background-color: rgb(149, 147, 147);
}

.operator div:hover,.equal:hover{
  background-color: #fbb560;
}